<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid" id = "asd">
    <div class="jumbotron text-center">
      <h1>Welcome to Your Mission to Mars...</h1><br><br>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Click here to get an update on the latest news!</a></p>
    </div>
    <h1><b>What is the Latest News on Mars?</b></h1>
    <h2>{{ mars.news_title }}</h2>
    <h3>{{ mars.news_p }}</h3>
  </div>
  </div>





</body>

</html>
